<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id pays</th>
                    <th>Nom du pays</th>
                    <th>nombre de gouvernorat</th>
                    <th> Continent</th>
                </tr>
                <tbody *ngFor="let pays of pays">
                    <tr>
                        <td>{{pays.idPay}}</td>
                        <td>{{pays.nomPay}}</td>
                        <td>{{pays.gouvernorat}}</td>
                        <td> {{ pays.continent.nomcont}} </td>
                        <td><a class="btn btn-danger" (click)="supprimerPay(pays)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updatePays',pays.idPay]">Modifier</a></td>
                    </tr>
                </tbody>
                <div class="d-flex align-items-end flex-column">
                    <div class="mt-auto p-2"><mat-paginator [length]="4" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                        </mat-paginator></div>
                </div>
            </table>
        </div>
    </div>
</div>